# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Credentials
credentials/*
.Rproj.user

# IPYNB
.ipynb_checkpoints

# data
derived_data/*
scrape_results/*

# Presentation/paper resources
presentation_resources/*
